body{
  background-color: black
}

.cool-font {
  font-family: Shrikhand, cursive;
  font-size: 24px;
  color: #1da1f2;
}

.jumbotron {
  width: 730px;
  height: 315px;
  font-family: Shrikhand, cursive;
  color: rgba(255, 255, 255, 0.685);
  background-color: springgreen;
  font-size: 10px;
}

input,
textarea {
  margin: 20px;
}

.btn {
  margin: 10px;
  font-family: Shrikhand, cursive;
  color: black;
  background-color: white;
  border-color: aqua;
  border-style: solid;
  border-width: 2px;
}

p {
  margin: 0;
  font-size: 16px;
}

.infoTag{

height: 0px;
font-size: 10px;

}

.image{
height : 100px;
width : 100px;


}

.card-columns{
background: url("bf5.jpg");
width: 1010px;
margin-left: -20px;
margin-top: 10px;
margin-bottom: 10px;
height: 549px;

}

.cdbg{
  background-color: slategrey;
}




.chirp {
  padding: 10px;
  margin: 10px;
  background-color: #e8f9ff;
}

.cool-font {
  font-family: Shrikhand, cursive;
  font-size: 24px;
  color: #1da1f2;
}

.jumbotron {
  font-family: Shrikhand, cursive;
  color: white;
  background: url("bf1.jpg");
  background-color: cadetblue;
}

input,
textarea {
  margin: 20px;
}

.btn {
  margin: 10px;
  font-family: Shrikhand, cursive;
  color: coral;
  background-color: black;
  border-color: #1da1f2;
  border-style: solid;
  border-width: 2px;
}

p {
  margin: 0;
  font-size: 16px;
}


.card-header{

  background : url("bf2.jpg");
  font-style: italic;
}

.card-body{

  background : url("bfg4.jpg");
}

.extrajumbo{

  height: 100px;
  background-color: black;
}

#chirp-area{

  width: 889px;
  margin-right: 2px;
  margin-left: -106px;
  margin-top: -10px;
  height: 500px;

}


.viewrow{

  width: 1040px;
  margin-right: 2px;
  margin-left: -106px;
  margin-top: -10px;
  height: 500px;
}

.searchrow{

  width: 770px;
}


.cdbg{

  color: aliceblue;
  background-color: initial;
}

iframe{

  width: 350px;
    height: 217px;
    margin-left: -68px;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {

  color: CORNFLOWERBLUE;
}

.btn {
  margin: 10px;
  font-family: Shrikhand, cursive;
  color: CORNFLOWERBLUE;
  background-color: black;
  border-color: #1da1f2;
  border-style: solid;
  border-width: 2px;
}